
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/shop.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title><%= pageTitle %> </title>

</head>

<body>
    <%- include('../includes/navbar.ejs') %> 
    <main>
        <form class="product-form form-group" action="/admin/add-product" method="POST">
            <div style="margin: 10px 0;">
                <label for="title" style="text-align: center;">Title</label>
                <input class="form-control" type="text" name="title" id="title">
            </div>
            <div style="margin: 10px 0;">
                <label for="imageURL" style="text-align: center;">Image URL</label>
                <input class="form-control" type="text" name="imageURL" id="imageURL">
            </div>
            <div style="margin: 10px 0;">
                <label for="price" style="text-align: center;">Price</label>
                <input class="form-control" type="number" name="price" id="price" step="0.01">
            </div>
            <div style="margin: 10px 0;">
                <label for="description" style="text-align: center;">Desciption</label>
                <textarea name="description" id="description" class="form-control" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-primary form-control mt-2">Add Product</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %> 