<%- include('../includes/head.ejs') %> 
</head>

<body>
    <%- include('../includes/navbar.ejs') %> 
    <main>
        <form class="product-form form-group" action="/admin/add-product" method="POST">
            <div >
                <label for="title" style="text-align: center;" class="form-control" >Title</label>
                <input class="form-control" type="text" name="title" id="title">
            </div>

            <button type="submit" class="btn btn-primary form-control mt-2">Add Product</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %> 